@page
@model BusinessModel_Canvas.Pages.EditRelationModel
@{
    ViewData["Title"] = "EditRelation";
    Layout = "~/Pages/Shared/PopupLayout.cshtml";
}

<div id="general-info" class="col" style="height:100%">



    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default" style="background-color: #2b64a0;color: white;font-size: 20px;width: 230px;">Activity Name</span>
        </div>
        <input value="@Model.GetRelationName()" id="Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="height:100%;border:groove;font-size:20px">
    </div>

    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg" style="background-color: #2b64a0;color: white;font-size: 20px;width: 230px;">Description</span>
        </div>
        <textarea id="Description" type="text" class="form-control-plaintext" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" style="height:20vh;border:groove;resize:none;font-size:15px">@Model.GetRelationDescription()</textarea>
    </div>




    <div class="input-group input-group-prepend" style="margin-top:10px">
        <span class="input-group-text" id="inputGroup-sizing-lg" style="background-color: #2b64a0;color: white;font-size: 20px;width: 230px;">Income Flow</span>
        <div style="margin-left:0px;margin-right:0px; font-size: 20px;width: 45%;">
            <select class="income-select" style="width: 100%;">
                @if (Model.GetSelectedIncome() == null)
                {
                    <option value="" selected>None</option>
                }
                else
                {
                    <option value="">None</option>
                }


                @foreach (var i in Model.GetAllIncome())
                {
                    if (i.Item1 == Model.GetSelectedIncome())
                    {
                        <option value="@i.Item1" selected>@i.Item2</option>
                    }
                    else
                    {
                        <option value="@i.Item1">@i.Item2</option>
                    }

                }

            </select>

        </div>

        <button type="button" class="btn btn-secondary btn-lg" style="font-size:20px;" onclick="">Create</button>

    </div>

    <div class="input-group input-group-prepend" style="margin-top:10px">
        <span class="input-group-text" id="inputGroup-sizing-lg" style="background-color: #2b64a0;color: white;font-size: 20px;width: 230px;">Outcome Flow</span>
        <div style="margin-left:0px;margin-right:0px; font-size: 20px;width: 45%;">
            <select class="outcome-select" style="width: 100%;">
                @if (Model.GetSelectedOutcome() == null)
                {
                    <option value="" selected>None</option>
                }
                else
                {
                    <option value="">None</option>
                }


                @foreach (var i in Model.GetAllOutcome())
                {
                    if (i.Item1 == Model.GetSelectedOutcome())
                    {
                        <option value="@i.Item1" selected>@i.Item2</option>
                    }
                    else
                    {
                        <option value="@i.Item1">@i.Item2</option>
                    }

                }

            </select>

        </div>

        <button type="button" class="btn btn-secondary btn-lg" style="font-size:20px;" onclick="">Create</button>

    </div>




    <button type="button" class="btn btn-info btn-lg" style="margin-top:10px;font-size:20px;" onclick="EditRelation();">Submit</button>
</div>

@section scripts{
    <script>
        function EditRelation() {

            if ($("#Name").val() == "") {
                alert("İsim alanını doldurmak zorunludur.")
                return;
            }

            var data = {
                Id: '@Model.GetRelationID()',
                Name: $("#Name").val(),
                Description:$("#Description").val(),
                IncomeID: $(".income-select").val(),
                OutcomeID: $(".outcome-select").val(),
            };

            $.post("api/Relation/Edit", data, function (data) {
                window.opener.SetRelationUpdate(data['name'],data['description'])
                window.close();
            });
        }





    </script>
}

